<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XZ что за дз</title>
    <style>
        body { background: url(https://klike.net/uploads/posts/2020-04/1587719791_1.jpg); }
    </style>
</head>
<body>
<div class="header_black"></div>
{%if latest_question_list%}
    {% for i in latest_question_list%}
         <li>
             <a href="/lesson_3/dz/{{i.id}}/">
                 {{i.question_text}}</a>
         </li>

    {%endfor%}
{%else%}
<p> список вопросов пуст</p>
{%endif%}
<article class="item td-table">
            <div class="img td-block">
                <a href="/md/4389533/" class="show-big-photo">
                                            <img src="https://s.pn.com.ua/i/md/1003/4389533/4389533_00c.jpg" class="photo" alt="Фото Apple MacBook Air 13 (MGN63) 2020">
                        <div class="big-photo" style="width: 320px; left: unset;"><img src="https://s.pn.com.ua/i/md/1003/4389533/4389533_00p.jpg" data-src="https://s.pn.com.ua/i/md/1003/4389533/4389533_00p.jpg"></div>
                                    </a>
            </div>
            <div class="catalog-block-text td-block">
                <div class="catalog-product-head">
                    <div class="catalog-block-head">
                        <a href="/md/4389533/">Apple MacBook Air 13 (MGN63) 2020</a>
                    </div>
                                            <a href="/md/4389533/" class="price">
                            <span><strong>31 826 грн</strong></span> по ценам <strong>27 000 ... 54 260</strong> грн, в&nbsp;<strong>48</strong>&nbsp;магазинах
                    </a>
                                                                <a class="part-payment" href="/md/4389533/?part_pay=1#prices" title="Предложения с оплатой частями"><svg class="icon icon-pay-parts-stroke "><use xlink:href="#icon-pay-parts-stroke"></use></svg></a>                        <a class="cart-payment" href="/md/4389533/?card_pay=1#prices" title="Предложения с оплатой картой"><svg class="icon icon-card-stroke "><use xlink:href="#icon-card-stroke"></use></svg></a>                                    </div>
                <div class="catalog-compare-prices">
                    <a class="form-btn form-btn--yellow form-btn--small pull-right" href="/md/4389533/#prices" onclick="sendAnaliticsEvent('page', 'click', 'compare')">Сравнить цены</a>                </div>
                <p class="content-item"><a href="/md/4389533/" class="description">
                        Ультрабук<span class="separator">•</span> 13.3", IPS, 2560x1600, глянцевый<span class="separator">•</span> Apple M1, 8 ядер, 2.9 ГГц<span class="separator">•</span> 8 Гб<span class="separator">•</span> SSD 256 Гб<span class="separator">•</span> Mac OS Big Sur<span class="separator">•</span> 304x212x16 мм<span class="separator">•</span> 1.29 кг                    </a></p>


<div class="compare-links compare-small " data-productid="4389533">    <span class="remove-from-compare">
        <a href="#" onclick="event.preventDefault()" class="remove-from-compare-link" data-product-id="4389533">
            <svg class="icon icon-compare-in "><use xlink:href="#icon-compare-in"></use></svg>убрать<span class="span"> из сравнения</span>        </a>
        / <a rel="nofollow" href="/compare/1003/">сравнить</a>
    </span>
    <span class="add-to-compare">
        <a href="#" onclick="event.preventDefault()" class="add-to-compare-link" data-product-id="4389533">
            <svg class="icon icon-compare-out "><use xlink:href="#icon-compare-out"></use></svg>в сравнение        </a>
    </span>
</div>
<div class="lists-links compare-small " data-productid="4389533">    <span class="remove-from-list">
        <a href="#" class="remove-from-list-link" data-url="/list/delete/" data-id="4389533">
            <svg class="icon icon-list-in "><use xlink:href="#icon-list-in"></use></svg>в списке        </a>
    </span>
    <span class="add-to-list">
        <a href="#" class="add-to-list-link" data-url="/list/add/" data-id="4389533">
            <svg class="icon icon-list-out "><use xlink:href="#icon-list-out"></use></svg>в список        </a>
</span>
</div>                <div class="rating rating-small" title="Рейтинг на основании 1 отзыва">    <a href="/md/4389533/#reviews">        <svg class="icon icon-84 active"><use xlink:href="#icon-84"></use></svg><svg class="icon icon-84 active"><use xlink:href="#icon-84"></use></svg><svg class="icon icon-84 active"><use xlink:href="#icon-84"></use></svg><svg class="icon icon-84 active"><use xlink:href="#icon-84"></use></svg><svg class="icon icon-84 active"><use xlink:href="#icon-84"></use></svg>1 отзыв    </a></div>            </div>
        </article>
</body>
</html>

